# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# IDEs & OS files
.vscode/
.idea/
.DS_Store

# Environment variables - VERY IMPORTANT
.env

# Database
/denning_project/database/vector_db/